<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <p></p> -->
    <ul>
    <% orders.forEach(function(item){ %> 
       <li><%= item.product + ': ' + item.price + 'x' + item.quantity + '=' + (item.price*item.quantity) %></li> 
    <% }) %>
    </ul>
  </body>
</html>
